<!DOCTYPE html>
<html class="no-js" lang="{{ shop.locale }}">
  <head>
    <!-- Basic page needs ================================================== -->
    <meta charset="utf-8"/>
    <meta content="IE=edge,chrome=1" http-equiv="X-UA-Compatible"/>

    {% if settings.favicon %}
      <link rel="shortcut icon" href="{{ settings.favicon | img_url: '32x32' }}" type="image/png"/>
    {% endif %}

    <!-- Title and description ================================================== -->
    <title>
      {{ page_title }}
      {% if current_tags %}
        {% assign meta_tags = current_tags | join: ', ' %}
        &ndash;
        {{ 'general.meta.tags' | t: tags:meta_tags }}
      {% endif %}
      {% if current_page != 1 %}
        &ndash;
        {{ 'general.meta.page' | t: page:current_page }}
      {% endif %}
      {% unless page_title contains shop.name %}
        &ndash;
        {{ shop.name }}
      {% endunless %}
    </title>

    {% if page_description %}
      <meta name="description" content="{{ page_description | escape }}"/>
    {% endif %}

    <!-- Helpers ================================================== -->
    {% include 'social-meta-tags' %}
    <link rel="canonical" href="{{ canonical_url }}"/>
    <meta content="width=device-width,initial-scale=1,shrink-to-fit=no" name="viewport"/>
    <meta name="theme-color" content="{{ settings.color_primary }}"/>

    <!-- CSS ================================================== -->
    {{ 'timber.scss.css' | asset_url | stylesheet_tag }}
    {{ 'theme.scss.css' | asset_url | stylesheet_tag }}
    {{ 'custom.css' | asset_url | stylesheet_tag }}

    <!-- Sections ================================================== -->
    <script>
      window.theme = window.theme || {};
      theme.strings = {
        zoomClose: {{ "products.zoom.close" | t | json }},
        zoomPrev: {{ "products.zoom.prev" | t | json }},
        zoomNext: {{ "products.zoom.next" | t | json }},
        moneyFormat: {{ shop.money_format | json }},
        addressError: {{ 'home_page.map.address_error' | t | json }},
        addressNoResults: {{ 'home_page.map.address_no_results' | t | json }},
        addressQueryLimit: {{ 'home_page.map.address_query_limit_html' | t | json }},
        authError: {{ 'home_page.map.auth_error_html' | t | json }},
        cartEmpty: {{ 'cart.general.empty' | t | json }},
        cartCookie: {{ 'cart.general.cookies_required' | t | json }},
        cartSavings: {{ 'cart.general.savings_html' | t: savings: '[savings]' | json }}
      };
      theme.settings = {
        cartType: {{ settings.cart_type | json }},
        gridType: {{ settings.collection_products_grid | json }}
      };
    </script>

    {{ 'jquery-2.2.4.min.js' | asset_url | script_tag }}

    <script src="{{ 'lazysizes.min.js' | asset_url }}" async="async"></script>

    <script src="{{ 'theme.js' | asset_url }}" defer="defer"></script>

    {% comment %} Custom JS {% endcomment %}
    <script src="{{ 'custom.js' | asset_url }}" defer="defer"></script>

    <!-- Header hook for plugins ================================================== -->
    {{ content_for_header }}

    {{ 'modernizr.min.js' | asset_url | script_tag }}

    {% comment %} 
      If you store has customer accounts disabled, you can remove the following JS file
    {% endcomment %}
    {% if request.page_type contains 'customers/' %}
      {{ 'shopify_common.js' | shopify_asset_url | script_tag }}
    {% endif %}

    {% comment %} 
      Redirect to the Custom Policies Pages
    {% endcomment %}
    <script>
      function redirectPoliciesPage() {
        const urlPathname = window.location.pathname
        const policies = [
          'refund-policy',
          'privacy-policy',
          'terms-of-service',
          'shipping-policy'
        ]

        policies.forEach(policy => {
          if (urlPathname === `/policies/${policy}`) {
            return location.replace(`https://tanandcheek.com/pages/${policy}`)
          }
        });
      }
      redirectPoliciesPage()
    </script>
  </head>

  {% if template contains 'collection' %}{{ 'ajaxinate.min.js' | asset_url | script_tag }}{% endif %}
  {% include 'ajaxify-cart' %}

    {% comment %} Add the page template as a class for easy page or template
  specific styling. {% endcomment %}
    <body id="{{ page_title | handle }}" class="{% if customer %}customer-logged-in {% endif %}template-{{ request.page_type | handle }}">
      {% section 'header' %}

      <div class="drawer drawer--right drawer--has-fixed-footer" id="CartDrawer">
        <div class="drawer__fixed-header">
          <div class="drawer__header">
            <div class="drawer__title">{{ 'cart.general.title' | t }}</div>
            <div class="drawer__close">
              <button class="icon-fallback-text drawer__close-button js-drawer-close" type="button">
                <span aria-hidden="true" class="icon icon-x"></span>
                <span class="fallback-text">
                  {{ 'cart.general.close_cart' | t }}
                </span>
              </button>
            </div>
          </div>
        </div>
        <div class="drawer__inner">
          <div class="drawer__cart" id="CartContainer"></div>
        </div>
      </div>

      <div class="page-container" id="PageContainer">
        <main class="main-content" role="main">
          {% unless request.page_type == "index" %}
            <!-- <div> -->
            <div>
            {% endunless %}
            {{ content_for_layout }}
            {% unless request.page_type == "index" %}
            </div>
          {% endunless %}
        </main>

        {% section 'footer' %}
      </div>

      {% comment %} Template-specific js {% endcomment %}
      <script>
      {% if resetPassword %}
        $(function() {
          timber.initCache();
          timber.resetPasswordSuccess();
        });
      {% endif %}
    </script>

      {% comment %} Ajaxify your cart with this plugin. Documentation: -
    http://shopify.com/timber#ajax-cart {% endcomment %}
      {% if
    settings.cart_type == 'drawer' %}
        {% include 'ajax-cart-template' %}
      {% endif
    %}
    


      {% if request.page_type == 'product' or request.page_type == 'index' %}
        <script>
      // Override default values of shop.strings for each template.
      // Alternate product templates can change values of
      // add to cart button, sold out, and unavailable states here.
      theme.productStrings = {
        addToCart: {{ 'products.product.add_to_cart' | t | json }},
        soldOut: {{ 'products.product.sold_out' | t | json }},
        unavailable: {{ 'products.product.unavailable' | t | json }}
      }
    </script>
      {% endif %}


      <div class="mfp-hide" id="SearchModal">
        {% include 'search-bar', search_btn_style: 'btn', search_bar_location:
      'search-bar--modal' %}
      </div>
      <ul hidden>
        <li id="a11y-refresh-page-message">
          {{ 'general.accessibility.refresh_page' | t }}
        </li>
        <li id="a11y-selection-message">
          {{ 'general.accessibility.selection_help' | t }}
        </li>
        <li id="a11y-slideshow-info">
          {{ 'home_page.slideshow.navigation_instructions' | t }}
        </li>
      </ul>

      <script src="https://apis.google.com/js/platform.js?onload=renderBadge" async defer></script>
      <script>
        window.renderBadge = function() {
          var ratingBadgeContainer = document.createElement("div");
          document.body.appendChild(ratingBadgeContainer);
          window.gapi.load('ratingbadge', function() {
            window.gapi.ratingbadge.render(ratingBadgeContainer, {
              "merchant_id": 324886058,
              "position": "BOTTOM_RIGHT"
            });
          });
        }
        window.___gcfg = {
        lang: '{{ shop_locale.iso_code }}'
      };
      </script>
    </body>
  </head>
</html>


<!-- Begin Shopify-Afterpay JavaScript Snippet (v1.0.10) -->
<script type="text/javascript">
  // Overrides:
  // var afterpay_min = 0.04;            // As per your Afterpay contract.
  // var afterpay_max = 2000.00;         // As per your Afterpay contract.
  // var afterpay_cbt_enabled = false;   // As per your Afterpay contract; change to true to display Cross-Border Trade artwork (for AU/NZ).
  // var afterpay_logo_theme = 'colour'; // Can be 'colour', 'black' or 'white'.
  // var afterpay_product_selector = '#product-price-selector';
  // var afterpay_cart_integration_enabled = true;
  // var afterpay_cart_static_selector = '#cart-subtotal-selector';
  
  // Non-editable fields:
  var afterpay_shop_currency = {{ shop.currency | json }};
  var afterpay_cart_currency = {{ cart.currency.iso_code | json }};
  var afterpay_shop_money_format = {{ shop.money_format | json }};
  var afterpay_shop_permanent_domain = {{ shop.permanent_domain | json }};
  var afterpay_theme_name = {{ theme.name | json }};
  var afterpay_product = {{ product | json }};
  var afterpay_current_variant = {{ product.selected_or_first_available_variant | json }};
  var afterpay_cart_total_price = {{ cart.total_price | json }};
  var afterpay_js_snippet_version = '1.0.10';
  </script>
  <script type="text/javascript" src="https://static.afterpay.com/shopify-afterpay-javascript.js"></script>
  <!-- End Shopify-Afterpay JavaScript Snippet (v1.0.10) -->
  