{%- if section.blocks.size > 0 -%}
<style>
  .cards {
    background-color: {{ section.settings.bg_color }};
  }
</style>
<div class="container">
  {% unless section.settings.cards_heading == blank %}  
    <h5 class="heading">{{ section.settings.cards_heading | escape }}</h5>
  {% endunless %}
  <div class="cards-grid">
    <div class="grid-{{ section.settings.grid_size }}">
      {%- for block in section.blocks -%}
        <div class="card" {{ block.shopify_attributes }}>
          {%- if section.settings.show_bg_numbers -%}
            <span class="card__background">{{ forloop.index }}</span>
          {%- endif -%}
          <div class="card__content" {% if section.settings.show_bg_numbers %}style="margin: -32px 0 0 32px;"{% endif %}>
            <div>
              {%- if block.settings.title != blank -%}
              <h4 class="card__title">{{ block.settings.title }}</h4>
            {%- endif -%}

            {%- if block.settings.description != blank -%}
              <p class="card__description">{{ block.settings.description }}</p>
            {%- endif -%}
            </div>
            
            {%- if block.settings.link != blank -%}
              <div class="card__footer">
                <a href="{{ block.settings.link }}" class="btn">{{ block.settings.btn_card_text }}</a>
              </div>
            {%- endif -%}
          </div>
            
        </div>
      {%- endfor -%}
    </div>
  </div>
  {%- unless section.settings.btn_url == blank -%}
  <div class="row u-pull-right">
    <a href="{{ section.settings.btn_url}}" class="btn">{{ section.settings.btn_text}}</a>
  </div>
  {%- endunless -%}
</div>
{%- endif -%}

{% schema %}
{
  "name": "Cards",
  "class": "cards",
  "max_blocks": 8,
  "settings": [
    {
        "type": "color",
        "id": "bg_color",
        "label": "Background color",
        "default": "#f9fafc"
    },
    {
      "type": "checkbox",
      "id": "show_bg_numbers",
      "default": false,
      "label": "Show Background Numbers"
    },
    {
      "type": "text",
      "id": "cards_heading",
      "label": "Heading"
    },
    {
      "type":      "range",
      "id":        "grid_size",
      "min":       1,
      "max":       4,
      "step":      1,
      "label":     "Cards per row",
      "default":   2
    },
    {
      "type": "text",
      "id": "btn_text",
      "info": "Optional",
      "label": "CTA Button"
    },
    {
      "type": "url",
      "id": "btn_url",
      "label": "CTA Button Link"
    }
  ],
  "blocks": [
    {
      "type": "card_block",
      "name": "Card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Card Title",
          "default": "Title"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Card Description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed rhoncus ante. Suspendisse posuere laoreet nunc, a finibus tellus dictum ut. Nullam et sem efficitur nisi eleifend rutrum sit amet sed diam. Nullam dictum justo ut felis fermentum, et rhoncus massa venenatis. Ut diam enim, iaculis id arcu pretium, vehicula pharetra quam. Curabitur non egestas odio."
        },
        {
          "type": "text",
          "id": "btn_card_text",
          "label": "Card Button",
          "info": "Optional"
        },
        {
          "type": "url",
          "id": "link",
          "label": "Card Button",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cards",
      "category": "Advanced layout",
      "blocks": [
        {
          "type": "card_block"
        },
        {
          "type": "card_block"
        },
        {
          "type": "card_block"
        },
        {
          "type": "card_block"
        }
      ]
    }
  ]
}
{% endschema %}