{%- if section.blocks.size > 0 -%}
  <div class="container">
    <h5>{{ section.settings.title }}</h5>
    <div class="cards-grid">
      <div class="grid-{{ section.settings.grid_size }}">
        {%- for block in section.blocks -%}
          <div class="card" style="justify-content: center;" {{ block.shopify_attributes }}>
            <div class="card__content">
              <div>
                {%- if block.settings.title != blank -%}
                  <h6 class="card__title">{{ block.settings.title }}</h6>
                {%- endif -%}
                {%- if block.settings.subtitle != blank -%}
                  <h6 class="card__subtitle">{{ block.settings.subtitle }}</h6>
                {%- endif -%}
              </div>

              {%- if block.settings.description != blank -%}
                <p class="card__description">{{ block.settings.description }}</p>
              {%- endif -%}
            </div>

            {% if block.settings.ratings != 0 or block.settings.link != blank %}
              <div class="card__footer" style="justify-content: space-between; padding-bottom: 8xp;">
                {%- if block.settings.ratings >= 0 -%}
                  <div>
                    {% for i in (1..block.settings.ratings) %}
                      {% include 'icon-star-solid' %}
                    {% endfor %}
                  </div>
                {%- endif -%}

                {%- if block.settings.link != blank -%}
                  <a href="{{ block.settings.link }}">
                    {% include 'icon-arrow-right-solid' %}
                  </a>
                {%- endif -%}
              </div>
            {%- endif -%}
          </div>
        {%- endfor -%}
      </div>
    </div>
  </div>
{%- endif -%}

{% schema %}
{
  "name": "Customer Reviews",
  "class": "customer-reviews-section",
  "max_blocks": 9,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Customer Reviews"
    },
    {
      "type":      "range",
      "id":        "grid_size",
      "min":       1,
      "max":       3,
      "step":      1,
      "label":     "Cards per row",
      "default":   3
    }
  ],
  "blocks": [
    {
      "type": "card_list",
      "name": "Card",
      "settings": [
        {
          "type": "text",
          "id": "title",
          "label": "Card Title",
          "default": "Customer Name"
        },
        {
          "type": "text",
          "id": "subtitle",
          "label": "Card Subtitle",
          "default": "Product Name"
        },
        {
          "type": "textarea",
          "id": "description",
          "label": "Card Description",
          "default": "Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed rhoncus ante. Suspendisse posuere laoreet nunc, a finibus tellus dictum ut."
        },
        {
          "type":      "range",
          "id":        "ratings",
          "min":       0,
          "max":       5,
          "step":      1,
          "label":     "Customer ratings",
          "default":   5
        },
        {
          "type": "url",
          "id": "link",
          "label": "Card Button",
          "info": "Optional"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Cards Customer Review",
      "category": "Advanced layout",
      "blocks": [
        {
          "type": "card_list"
        },
        {
          "type": "card_list"
        },
        {
          "type": "card_list"
        },
        {
          "type": "card_list"
        }
      ]
    }
  ]
}
{% endschema %}