<div class="frequent-questions" {{ block.shopify_attributes }}>
  <div class="container">
    <div class="row">
      <div class="twelve columns frequent-questions__header">
        {% unless section.settings.title == blank %}
          <h3>{{ section.settings.title | escape }}</h3>
        {% endunless %}

        {% unless section.settings.subtitle == blank %}
          <p>{{ section.settings.subtitle | escape }}</p>
        {% endunless %}
      </div>
    </div>

    <div class="row">
      <div class="grid-3">
        {%- for block in section.blocks -%}
          {% unless block.settings.bg_image == blank %}
            <div class="card bg-image" style="background-image: url({{ block.settings.bg_image | img_url: '512x512' }});">
              <a href="{{ block.settings.btn_link }}">
                <div class="card__container">
                  {% unless block.settings.btn_link == blank %}
                    <div class="card__footer">
                      <h6 class="title">{{ block.settings.text }}</h6>
                      {% include 'icon-arrow-circle-right' %}
                    </div>
                  {% endunless %}
                </div>
              </a>
            </div>
          {% endunless %}

          <!-- Limit the display of products to 4 -->
          {% if forloop.index == 3 %}
            {% break %}
          {% endif %}

        {%- endfor -%}
      </div>
    </div>
    <div class="row">
      <div class="grid-2">
        {%- for block in section.blocks -%}

          {% if forloop.index > 3 %}
            {% unless block.settings.bg_image == blank %}
              <div class="card bg-image" style="background-image: url({{ block.settings.bg_image | img_url: '512x512' }});">
                <a href="{{ block.settings.btn_link }}">
                  <div class="card__container">
                    {% unless block.settings.btn_link == blank %}
                      <div class="card__footer">
                        <h6 class="title">{{ block.settings.text }}</h6>
                        {% include 'icon-arrow-circle-right' %}
                      </div>
                    {% endunless %}
                  </div>
                </a>
              </div>
            {% endunless %}
          {% endif %}

        {%- endfor -%}
      </div>
    </div>
  </div>
</div>


{% schema %}

{
  "name": "Frequent Questions",
  "max_blocks": 5,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Frequently Asked Questions"
    },
    {
      "type": "text",
      "id": "subtitle",
      "label": "Subtitlte",
      "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr."
    }
  ],
  "blocks": [
    {
      "name": "Section Block",
      "type": "section_block",
      "settings": [
        {
          "type": "image_picker",
          "id": "bg_image",
          "label": "Background Image"
        },
        {
          "type": "text",
          "id": "text",
          "label": "Block Text",
          "default": "Lorem Ipsum"
        },
        {
          "type": "url",
          "id": "btn_link",
          "label": "Button Link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Frequent Questions",
      "category": "Advanced layout",
      "blocks": [
        {
          "type": "section_block"
        },
        {
          "type": "section_block"
        },
        {
          "type": "section_block"
        },
        {
          "type": "section_block"
        },
        {
          "type": "section_block"
        }
      ]
    }
  ]
}

{% endschema %}