<!-- /sections/icons-row.liquid -->

{%- assign bg_color = section.settings.bg_color -%}
{%- assign text_color = section.settings.text_color -%}

{%- case section.blocks.size -%}
  {%- when 1 -%}
    {%- assign grid_width = 'grid-1' -%}
  {%- when 2 -%}
    {%- assign grid_width = 'grid-2' -%}
  {%- when 3 -%}
    {%- assign grid_width = 'grid-3' -%}
  {%- else -%}
    {%- assign grid_width = 'grid-4' -%}
{%- endcase -%}

<div class="text-row" data-section-id="{{ section.id }}" data-section-type="text-row" data-text-alignment="{{ text_alignment }}" style="background-color: {{ bg_color }};">
  <div class="container">
    <div class="{{ grid_width }}">
      {%- if section.blocks.size -%}
        {%- for block in section.blocks -%}
          {%- assign icon_words = block.settings.icon | split: ' ' -%}
          {%- capture icon -%}
            {%- for word in icon_words -%}
              {%- unless forloop.index == 1 -%}-
              {%- endunless -%}
              {{ word | downcase }}
            {%- endfor -%}
          {%- endcapture -%}

          <div class="max-w-500">
            <div class="icon__column icon__column--{{ block.id }}">
              <style>
                  .icon__column--{{ block.id }} .icon__column__icon svg g {
                    stroke: {{ block.settings.icon_color }};
                  }
                </style>
              <div class="icon__column__icon" data-aos-delay="500" data-aos="svg-dash">
                {% include block.settings.icon_name %}

                <div class="icon__column__text" style="color: {{ text_color }};">
                  {%- if  block.settings.title != blank -%}
                    <h5>{{ block.settings.title }}</h5>
                  {%- endif -%}

                  {%- if block.settings.text != blank -%}
                    <p>{{ block.settings.text }}</p>
                  {%- endif -%}
                </div>
              </div>
            </div>
          </div>
        {%- endfor -%}
      {%- endif -%}
    </div>
  </div>
</div>

{% schema %}

{
  "name": "Text row with icons",
  "max_blocks": 4,
  "settings": [
    {
      "type": "color",
      "id": "bg_color",
      "label": "Background color"
    }, {
      "type": "color",
      "id": "text_color",
      "label": "Text color",
      "default": "#545454"
    }
  ],
  "blocks": [
    {
      "type": "text-item",
      "name": "Icon column",
      "settings": [
        {
          "type": "select",
          "id": "icon_name",
          "label": "Icon",
          "default": "icon-envelope-open-solid",
          "options": [
            {
              "value": "icon-award",
              "label": "Award"
            }, {
              "value": "icon-basket-like",
              "label": "Basket like"
            }, {
              "value": "icon-basket-return",
              "label": "Basket return"
            }, {
              "value": "icon-cart-check",
              "label": "Cart check"
            }, {
              "value": "icon-cart-message",
              "label": "Cart message"
            }, {
              "value": "icon-chat",
              "label": "Chat"
            }, {
              "value": "icon-dollar",
              "label": "Dollar"
            }, {
              "value": "icon-envelope-open-solid",
              "label": "Envelope"
            }, {
              "value": "icon-mail",
              "label": "Mail"
            }, {
              "value": "icon-email",
              "label": "Email"
            }, {
              "value": "icon-lock-card",
              "label": "Lock card"
            }, {
              "value": "icon-lock-shield",
              "label": "Lock shield"
            }, {
              "value": "icon-lock-window",
              "label": "Lock window"
            }, {
              "value": "icon-payment",
              "label": "Payment"
            }, {
              "value": "icon-phone",
              "label": "Phone"
            }, {
              "value": "icon-rating",
              "label": "Rating"
            }, {
              "value": "icon-send",
              "label": "Send"
            }, {
              "value": "icon-shipment-world",
              "label": "Shipment world"
            }, {
              "value": "icon-shipment",
              "label": "Shipment"
            }, {
              "value": "icon-store",
              "label": "Store"
            }, {
              "value": "icon-support-headphones",
              "label": "Support headphones"
            }, {
              "value": "icon-truck",
              "label": "Truck"
            }
          ]
        }, {
          "type": "color",
          "id": "icon_color",
          "label": "Icon color",
          "default": "#000000"
        }, {
          "type": "text",
          "id": "title",
          "label": "Heading",
          "default": "Title"
        }, {
          "type": "textarea",
          "id": "text",
          "label": "Text",
          "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna."
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Text row with icons",
      "category": "Advanced layout",
      "blocks": [
        {
          "type": "text-item",
          "settings": {
            "title": "Secure transactions",
            "icon_name": "icon-lock-card",
            "text": "Transactions are handled with bank-grade security"
          }
        }, {
          "type": "text-item",
          "settings": {
            "title": "Simple checkout",
            "icon_name": "icon-basket-like",
            "text": "Our secure checkout is quick and easy to use."
          }
        }, {
          "type": "text-item",
          "settings": {
            "title": "Get in touch",
            "icon_name": "icon-chat",
            "text": "Have questions? Get in touch with us at any time."
          }
        }
      ]
    }
  ]
}

{% endschema %}
