<div id="shop-the-look" class="shop-the-look" data-section-id="{{ section.id }}">
  <div class="container">
    <div class="row">
      <div class="one column">
        <h2 class="shop-the-look__title title last-two-bold">{{ section.settings.title }}</h2>
      </div>
      <div class="five columns">
        {{ section.settings.image | img_url: '750x915' | img_tag: section.settings.image.alt }}
      </div>
      <div class="six columns">
        <h3 class="title last-bold">{{ section.settings.section_title }}</h3>
        <p>{{ section.settings.section_description }}</p>
        {% for block in section.blocks %}
          {%- assign product = all_products[block.settings.product] -%}
          <a href="{{ product.url }}" style="line-height: 0;">
            <div class="card">
              <img src="{{ product.featured_image | img_url: '560x620' }}" alt="Product Image">
              <div class="card__content">
                <div class="inner-content">
                  <h4>{{ product.title }}</h4>
                  <span>{{ product.price | money }}</span>
                </div>
                <a class="btn" style="align-self: flex-end;" href="{{ product.url }}">Shop Now</a>
                <!-- <p>{{ product.description }}</p> -->
              </div>

            </div>
          </a>
        {% endfor %}

        <!-- <a class="btn" href="#">Add to cart</a> -->
        <!-- {%- assign current_variant = product.selected_or_first_available_variant -%} -->

      </div>
    </div>
  </div>
</div>

{% schema %}

{
  "name": "Shop the look",
  "max_blocks": 9,
  "settings": [
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Shop the look (not active)"
    }, {
      "type": "image_picker",
      "id": "image",
      "label": "Section image"
    }, {
      "type": "text",
      "id": "section_title",
      "label": "Section Title",
      "default": "Summertime Madness"
    }, {
      "type": "textarea",
      "id": "section_description",
      "label": "Section Description",
      "default": "Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam erat, sed diam voluptua. At vero eos et accusam et justo duo dolores et ea rebum. Stet clita kasd gubergren, no sea takimata sanctus est Lorem ipsum dolor sit amet. Lorem ipsum dolor sit amet."
    }, {
      "type": "text",
      "id": "btn_text",
      "label": "Button Text",
      "default": "Get In Touch"
    }, {
      "type": "url",
      "id": "btn_url",
      "label": "Button Url"
    }
  ],
  "blocks": [
    {
      "type": "featured_product",
      "name": "Featured Product",
      "settings": [
        {
          "type": "product",
          "id": "product",
          "label": "Featured Product"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Shop the look",
      "category": "Advanced layout",
      "blocks": [
        {
          "type": "featured_product"
        }, {
          "type": "featured_product"
        }
      ]
    }
  ]
}

{% endschema %}

<script>
  // Replaces the last word with bold
  function lastBold() {
		const allTitles = document.querySelectorAll('.title')
		for (const title of allTitles) {
			// Change the last word to bold
			if (title.className.includes('last-bold')) {
				const wordsArray = title.innerHTML.trim().split(' ')
				const lastWord = `<span>${wordsArray.pop()}</span>`
				title.innerHTML = wordsArray.join(' ') + ' ' + lastWord
			}
			// Change the whole setence to bold
			if (title.className.includes('all-bold')) {
				title.style.fontWeight = 'bold'
			}
		}
  }

  // Replaces the last two words with bold
  function lastTwoBold() {
		const allTitles = document.querySelectorAll('.title')
		for (const title of allTitles) {
			// Change the last two words to bold
			if (title.className.includes('last-two-bold')) {
        const wordsArray = title.innerHTML.trim().split(' ')
        let words = []
        words[0] = wordsArray.pop()
        words[1] = wordsArray.pop()
				title.innerHTML = `${wordsArray.join(' ')} <span>${words[1]} ${words[0]}</span>`
			}
			// Change the whole setence to bold
			if (title.className.includes('all-bold')) {
				title.style.fontWeight = 'bold'
			}
		}
  }
  lastBold()
  lastTwoBold()
</script>